import {LoopBackApplication, PersistedModel} from "loopback";
import {Model} from "loopback-model-decorator";

@Model({
    hooks: {
        attached: {name: 'attached', type: 'event'},
        access: {name: 'access', type: 'operation'},
        persist: {name: 'persist', type: 'operation'},
        afterSave: {name: 'after save', type: 'operation'},
        beforeSave: {name: 'before save', type: 'operation'},
        beforeDelete: {name: 'before delete', type: 'operation'},
        afterDelete: {name: 'after delete', type: 'operation'},
    }
})
export default class <%= options.name %> extends PersistedModel {
    app: LoopBackApplication;
    constructor(public model: any) {
        super(model);
    }
    attached(application: LoopBackApplication): void {
        let me = this;
        me.app = application;
    }

    access(ctx: any, next: Function): void {
        console.log('example: access');
        next();
    }

    persist(ctx: any, next: Function): void {
        console.log('example: persist');
        next();
    }

    beforeSave(ctx: any, next: Function): void {
        console.log('example: before Save');
        next();
    }

    beforeDelete(ctx: any, next: Function): void {
        console.log('example: before Delete');
        next();
    }

    afterDelete(ctx: any, next: Function): void {
        console.log('example: after Delete');
        next();
    }
}
